#imgdiv {

  background-color: black;
}

#hry{

  color: ghostwhite;
  font-weight: lighter;
}

#divInputGr {

  background-color: black;

}

ul {
  text-align: left;
}

#imgsignup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

